<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.impresa.pt/sicnot/2023-04-05-filme-cinema-cadeiras.jpg-7f339f22-1);">
  <div class="container">
    <h1>Save any kind of movies</h1>
    <a class="btn-add btn-flat" href="/lists/new">+</a>
  </div>
</div>
