.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  text-align: center;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner h3 {
  text-align: center;
  margin: 0;
  color: red;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner a {
  text-decoration: none;
  color:white;
  font-size: 20px;
}

.btn-add {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 0;
  position: absolute;
  top: 48%;
  right: 5%;
  color:white;
  transition: all 0.3s ease-in-out;
  font-size: 50px;
  color: $orange;
  opacity: 0.8;
}

.btn-add:hover {
  opacity: 1;
  transform: scale(1.1);
}

.btn-create {
  background-color:$orange ;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 10px 20px;
  color:white;
  transition: all 0.3s ease-in-out;
}

.btn-create:hover {
  background-color: $orange;
  color:white;
  transform: scale(1.1);
  box-shadow: 0px 10px 15px rgba(173, 173, 148, 0.226);
}
