.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  margin: 12px;
}

.card-category a{
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.card-border {
  border: 2px dashed $orange;
  opacity: 0.5;
  box-sizing: border-box;
}

.card-border:hover {
  opacity: 1;
}

.card-border i {
  color:white;
  transition: all 0.3s ease-in-out;
  font-size: 60px;
  color: $orange;
}

.btn-delete {
  opacity: 0;
  margin: 10px ;
  font-size: 20px;
}

.card-category:hover {
  transform: scale(1.1);
}

.card-category:hover .btn-delete {
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
